<form (ngSubmit)="authenticate()" #frm=ngForm action="">
    <table>
        <tr>
            <td>Id</td>
            <td><input class="userId" name='auth.userId' 
                 [(ngModel)]='auth.userId' #uid=ngModel pattern="[A-za-z]{5,}"></td>
            <span *ngIf="uid.dirty && uid.invalid">Invalid ID</span>
        </tr>
        <tr>
            <td>Password</td>    
            <td> <input class="pass" name='passwd' [(ngModel)]='auth.passwd' required #pwd=ngModel
                pattern="[A-Za-z]{5,}">
                <span *ngIf="pwd.dirty && pwd.invalid">Invalid Password</span>
            </td>
        </tr>
        <tr>
            <td>Role</td>
            <td>
                <select name="role" id="role" [(ngModel)]="auth.role" required>
                    <option *ngFor = "let r of roles " [selected]='r' [value]="r">{{r}}</option>
                </select>
            </td>

        </tr>
        <tr>    
            <td colspan="2"><button type="submit" [disabled]=!frm.valid>Login</button></td>
        </tr>
    </table>
    <div [hidden]=!flag>
        <p>User: {{auth.userId}}</p>
        <p>Password: {{auth.passwd}}</p>
        <p>Role : {{auth.role}}</p>
    </div>
</form>
